body {
    background-color: #222831; 
}

.custom-navbar {
    padding: 1rem 0;        
}

.navbar-brand {
    color: #D4CCB6 !important; 

}

.text-custom {
    color: #D4CCB6 !important;  
    text-transform: uppercase; 
}

.nav {
    gap: 2.5rem;                
}

.nav-link {
    padding: 0 1rem;            
}

.nav-link:hover {
    color: #ffffff !important;  
}

.glow-effect:hover {
    text-shadow: 
        0 0 20px rgba(212, 204, 182, 0.9),   
        0 4px 4px rgba(0, 0, 0, 0.25); 
    color: #D4CCB6 !important;
}

.heading {
    font-weight: bold;
    font-size: 5rem;
    line-height: 1.0;
    text-transform: uppercase;
    color: #D4CCB6;
    text-shadow: 
        0 4px 4px rgba(0, 173, 181, 0.6);
    display: inline-block;  
    letter-spacing: 6px; 
}

.step-row {
    text-align: left;       
    margin-bottom: 15px;     
}

.step-indent {
    padding-left: 200px;   
}

.step-indent-large {
    padding-left: 360px;     
}

.red-letter {
    color: #E5533D; 
    text-shadow: 
        0 0 20px rgba(231, 76, 60, 0.8),  
        0 4px 4px rgba(0, 173, 181, 0.3);
}


.subtext {
    font-size: 1.5rem;
    text-transform: uppercase;
}


.btn-glow {
    background-color: #D4CCB6;
    color: #222831;
    border: none;
    padding: 10px 30px;
    box-shadow: 0 0 15px rgba(212, 204, 182, 0.8); 
    transition: all 0.3s ease-in-out;
}

.btn-glow:hover {
    background-color: #ffffff;
    box-shadow: 0 0 25px rgba(212, 204, 182, 1);  
    transform: scale(1.05);  
}

.subtext {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #D4CCB6;
    text-shadow: 0 0 20px rgba(0, 173, 181, 0.6); 
    margin-bottom: 50px;  
}

.new-text {
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #D4CCB6;
    text-shadow: 0 0 20px rgba(0, 173, 181, 0.6); 
    margin-top: 50px;  
}

.glow-container {
    position: relative;
    display: inline-block;
}


a.bot-btn, a.btn-glow {
    display: inline-block;  
    text-decoration: none;  
    text-align: center;     
    cursor: pointer;        
}

.btn-glow {
    background-color: #D4CCB6;
    color: #222831;
    border: none;
    padding: 10px 130px;

    border-radius: 2px;
    margin-top: 40px;
    font-size: 1.2rem;
    
    box-shadow: 
        0 0 60px #00ADB5,  
        0 0 80px rgba(0, 173, 181, 0.8),
        0 0 150px rgba(0, 173, 181, 0.6); 
    transition: all 0.3s ease-in-out;
}

.btn-glow:hover {
    font-size: 1.2rem;
    background-color: #D4CCB6;  
    box-shadow: 
        0 0 100px rgba(0, 173, 181, 1),   
        0 0 250px rgba(0, 173, 181, 0.9),
        0 0 300px rgba(0, 173, 181, 0.8);  
    transform: scale(1.05);
   
}

.btn-glow {
    font-weight: 600; 
}

.btn-glow:hover {
    font-weight: 600;  
}


.line-container {
    margin-top: 60px;
    position: relative;
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    position: absolute;
    width: 0;
    height: 2px;
    background: #D4CCB6;
    box-shadow: 0 0 20px rgba(0, 173, 181, 1);
    border-radius: 50px;

    animation: expand-line 15s ease-in-out infinite;
}

@keyframes expand-line {
    0% {
        width: 0;
    }
    45% {
        width: 100%;
    }
    55% {
        width: 100%;  
    }
    100% {
        width: 0;
    }
}

.circle {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #D4CCB6;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 173, 181, 1); 
    opacity: 0; 
    
    animation: glow-circles 15s ease-in-out infinite;
}


.left-circle {
    left: 0;
    transform: translateX(-50%);
}

.right-circle {
    right: 0;
    transform: translateX(50%);
}


@keyframes glow-circles {
    0%, 44% {
        opacity: 0;  
    }
    45%, 55% {
        opacity: 1; 
    }
    56%, 100% {
        opacity: 0; 
    }
}


.new-text-content {
    font-size: 1.3rem;        
    text-transform: uppercase; 
    color: #D4CCB6;          
    text-align: center;        
    margin-top: 5%;         
    margin-bottom: 5%;       

    letter-spacing: 2px;      
}


.content-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: auto auto;         
    grid-gap: 80px 150px;              
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card {
    background-color: #D4CCB6;
    border-radius: 8px;
    box-shadow: 0 4px 41px rgba(0, 0, 0, 1);
    text-align: center;
    padding: 10px;
    width: 310px; 
    height: 300px; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 60px rgba(212, 204, 182, 0.4);
    justify-content: space-between;
}

.card:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.card:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.card:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}

.card:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
}

.card:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 60px rgba(212, 204, 182, 0.8);
}

.card img {
    max-width: 150px;          
    max-height: 150px;
    margin-bottom: 0;       
    margin-top: -5px;        
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card h3 {
    font-size: 1.1rem; 
    color: #222831;
    font-weight: bold;
    margin-bottom: 10px;
    flex-shrink: 0;      
}

.card p {
    font-size: 0.8rem;
    color: #222831;
    line-height: 1.5;
    flex-shrink: 0;      
}


.content-block {
    display: flex;             
    flex-wrap: wrap;           
    justify-content: center;  
    gap: 45px;                 
}



.referral-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 10%;
    margin-bottom: 9%;
}

.referral-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    padding: 40px;
    position: relative;
    gap: 300px;  
    z-index: 2;
}

.referral-left {
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.referral-img{
    max-width: 400px;
    max-height: 400px;
}

.referral-right {
    display: flex;
    justify-content: flex-start;  
    align-items: center;
}

.referral-content {
    color: #D4CCB6;
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 500px;
    text-align: left; 
    padding: 30px;
}

.referral-glow {
    position: absolute;
    top: -10%;  
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 300px;
    background: radial-gradient(circle, rgba(0, 173, 181, 0.6) 0%, rgba(0, 173, 181, 0) 70%);
    filter: blur(150px);
    z-index: 0; 
    margin-bottom: 70%;  
}

.referral-title {
    position: absolute;
    left: 0;
    color: #D4CCB6;
    z-index: 2;  
    font-size: 1.3rem;        
    text-transform: uppercase; 
    text-align: center;             
    margin-bottom: 70%;    
    letter-spacing: 2px;   
}

.footer {

    color: #D4CCB6;             
    text-align: center;        
    padding: 20px 0;           
    margin-top: 40px;          
}

.footer-links {
    display: flex;
    justify-content: center;    
    gap: 5.5rem;              
    margin-bottom: 15px;        
    font-size: 0.9rem;          
}

.footer-links a {
    color: #D4CCB6;             
    text-decoration: none;      
    text-transform: uppercase; 
}

.footer-links a:hover {
    color: #D4CCB6;           
    text-shadow: 0 0 15px rgba(212, 204, 182, 0.9);
}

.footer-copyright {
    color: #E5533D;             
    font-size: 0.8rem;      
    margin-top: 10%;
    text-shadow: 0 0 15px rgba(231, 76, 60, 0.8);
}

.nav-menu-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem; 
    width: 100%;  
    margin-top: -2%;
}


.menu-btn,
.mobile-menu-overlay {
    display: none; 
}

@media (max-width: 768px) {


    .nav-menu-desktop {
        display: none; 
    }
    
    body.no-scroll {
        overflow: hidden;
        height: 100vh;
    }
    
    .menu-btn {
        display: block;
        position: absolute;
        right: 20px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 999;
    }
    
    .menu-btn img {
        width: 40px;
        height: 40px;
        filter: drop-shadow(0 0 10px rgba(0, 173, 181, 0.8)); 
    }
    
    .menu-btn.hidden {
        display: none; 
    }
    
    .mobile-menu-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    
        background: radial-gradient(circle, rgba(0, 173, 181, 0.4) 0%, rgba(0, 173, 181, 0) 70%);
        background-color: #222831;
        background-size: contain; 
        background-repeat: no-repeat; 
        background-position: center;  

        background-size: cover;
        background-position: center;
        backdrop-filter: blur(10px);
    
        z-index: 998;
        opacity: 0;
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }
    
    .mobile-menu-overlay.active {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 100px;
        opacity: 1;
        transform: translateY(0);
    }
    
    .menu-content {
        text-align: left;
        color: #D4CCB6;
        width: 100%;
        
    }
    
    .menu-list {
        list-style: none;
        padding: 0;
        margin-bottom: 10px;
    }
    
    .menu-list li {
        margin-bottom: 10%;
        padding-left: 10%;  
    }
    
    .menu-list li a {
        text-decoration: none;
        color: #D4CCB6;
        font-size: 0.7rem;
        text-transform: uppercase;
        text-shadow: 0 0 15px rgba(212, 204, 182, 0.8); 
    }
    
    .menu-list li a:hover {
        color: #D4CCB6; 
        text-shadow: 
            0 0 20px rgba(212, 204, 182, 1), 
            0 0 40px rgba(212, 204, 182, 0.9); 
        transform: scale(1.05); 
    }
    .bot-btn {
        background-color: #D4CCB6;
        color: #222831;
        border: none;
        padding: 8px 25px; 
        font-weight: bold;
        border-radius: 2px;
        font-size: 0.8rem;
        cursor: pointer;
        width: 70%; 
        max-width: 200px; 
        margin: 0 auto;
        position: fixed;
        bottom: 10%; 
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 
        0 0 40px rgba(0, 173, 181, 1),    
        0 0 70px rgba(0, 173, 181, 0.9),  
        0 0 120px rgba(0, 173, 181, 0.7); 
        transition: all 0.3s ease-in-out;
    }
    
    .bot-btn:hover {
        box-shadow: 
        0 0 60px rgba(0, 173, 181, 1),  
        0 0 100px rgba(0, 173, 181, 0.9),
        0 0 150px rgba(0, 173, 181, 0.8);
        transform: translateX(-50%) scale(1.1); 
    }
    .menu-line-container {
        display: flex;
        align-items: center;
        justify-content: center; 
        gap: 0; 
        margin-top: 20%;

    }
    
    .menu-line {
        width: 70%; 
        height: 1.5px;  
       
        background: #D4CCB6;  
        box-shadow: 0 0 15px rgba(212, 204, 182, 0.9); 
    }
    
    .menu-circle {
        width: 5px; 
        height: 5px;
        background: #D4CCB6;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(212, 204, 182, 0.9);
    }
    
    
    
    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        cursor: pointer;
        color: #D4CCB6;
    }
    

}


@media (max-width: 768px) {
    .heading {
        font-size: 2.5rem;
        letter-spacing: 2px; 
        line-height: 1.2; 
        text-align: center; 
    }

    .btn-glow {
        display: inline-block; 
        position: relative;       
        margin: 0 auto;   
        margin-top: 19%;    
        padding: 10px 50px;     
        font-size: 0.6rem;     
        border-radius: 3px;     
        max-width: 250px;       
        background-color: #D4CCB6;
        color: #222831;
        border: none;
        cursor: pointer;
        font-weight: 400; 
        box-shadow: 0 0 30px rgba(0, 173, 181, 0.8); 
        transition: all 0.3s ease-in-out; 
    }
    
    .btn-glow:hover {
        transform: scale(1.1);
        font-size: 0.6rem;   
        font-weight: bold; 
        background-color: #D4CCB6;
        box-shadow: 
            0 0 50px rgba(0, 173, 181, 1), 
            0 0 100px rgba(0, 173, 181, 0.9), 
            0 0 150px rgba(0, 173, 181, 0.8); 
    }
    
    
    
    .btn-glow:hover {
        font-weight: 400;  
    }

    .step-row {
        text-align: center; 
        margin-bottom: 5px;
    }

    .step-indent {
        padding-left: 35px; 
    }
    
    .step-indent-large {
        padding-left: 90px; 
    }
    
    .heading{
        font-size: 1.8rem;
    }
    .red-letter {
        font-size: 1.8rem; 
        color: #E5533D; 
        text-shadow: 
            0 0 10px rgba(231, 76, 60, 0.8),  
            0 2px 2px rgba(0, 173, 181, 0.3); 
    }

    .new-text {
        font-size: 0.9rem;
    }
    .subtext {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .new-text-content {
        font-size: 1rem; 
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .footer-links {
        margin-top: -10%;  
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 5px;            
        font-size: 0.7rem;   
    }

    .footer-links a {
        width: 100%; 
        text-align: center;
        padding: 5px 0;      
        border-bottom: none; 
    }

    .footer-copyright {
        font-size: 0.7rem;   
        margin-top: 20%;    
        text-align: center;  
        opacity: 0.8;        
    }
}

@media (max-width: 768px) {
    .content-block {
        display: flex;
        flex-direction: column;
        gap: 50px; 
    }

    .card {
        display: flex;
        flex-direction: row;   
        align-items: center;    
        gap: 20px;              
        padding: 10px;         
        border-radius: 8px;
        width: 90%;             
        height: 150px;         
        margin: 0 auto;        
    }

    .card img {
        max-width: 140px;       
        height: auto;
        flex-shrink: 0;        
    }

    .card-content {
        display: flex;
        flex-direction: column;
        gap: 5px;      
          
    }

    .card h3 {
        margin: 0;
        font-size: 0.8rem;  
        flex-shrink: 0;       
    }

    .card p {
        font-size: 0.8rem;    
        line-height: 1.3;
        word-break:break-all;
        flex-shrink: 0;      
    }

}

@media (max-width: 768px) {
    .referral-section {
        position: relative;
        margin-top: 60px;  
        padding: 20px;      

        border-radius: 15px;  

        overflow: hidden;  
    }

    .referral-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .referral-title {
        margin-top: -20%;
        font-size: 1.5rem;
        font-weight: bold;
        color: #D4CCB6;
        text-shadow: 0 0 15px rgba(0, 173, 181, 0.6); 
        margin-bottom: 10px;
    }

    .referral-left img {
        margin-top: 40%;
        width: 100px;  
        height: auto;
        filter: drop-shadow(0 0 10px rgba(0, 173, 181, 0.6));
    }

    .referral-right {
        width: 100%;
    }

    .referral-content {
        font-size: 1rem;
        line-height: 1.5;
        color: #D4CCB6;
        border-radius: 10px;
        padding: 15px;
        word-wrap: break-word;
        overflow: hidden;
        text-align: center;  
    }

    .referral-glow {
        display: block;  
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%; 
        height: 60%;
        filter: blur(40px); 
        z-index: -1; 
    }
}


.neuron-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    pointer-events: none; 
}

.neuron-point {
    position: fixed;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 173, 181, 0.8) 0%, rgba(0, 173, 181, 0) 60%);
    animation: glow 6s infinite alternate;
    opacity: 0; 
}

@keyframes glow {
    0% { opacity: 0; transform: scale(0.5); }
    50% { opacity: 0.9; transform: scale(1.2); }
    100% { opacity: 0; transform: scale(0.5); }
}

.point-1 { top: 5%; left: 10%; width: 150px; height: 150px; animation-delay: 0s; }
.point-2 { top: 20%; left: 40%; width: 130px; height: 130px; animation-delay: 1.5s; }
.point-3 { top: 35%; left: 70%; width: 100px; height: 100px; animation-delay: 0.8s; }
.point-4 { top: 60%; left: 30%; width: 120px; height: 120px; animation-delay: 2s; }
.point-5 { top: 85%; left: 85%; width: 140px; height: 140px; animation-delay: 2.5s; }

/* Множество мелких шариков */
.small-point-1 { top: 10%; left: 25%; width: 30px; height: 30px; animation-delay: 0.5s; }
.small-point-2 { top: 15%; left: 5%; width: 20px; height: 20px; animation-delay: 1s; }
.small-point-3 { top: 30%; left: 15%; width: 25px; height: 25px; animation-delay: 1.8s; }
.small-point-4 { top: 45%; left: 60%; width: 35px; height: 35px; animation-delay: 2s; }
.small-point-5 { top: 55%; left: 90%; width: 30px; height: 30px; animation-delay: 1.3s; }
.small-point-6 { top: 70%; left: 10%; width: 25px; height: 25px; animation-delay: 2.5s; }
.small-point-7 { top: 80%; left: 45%; width: 30px; height: 30px; animation-delay: 2.7s; }
.small-point-8 { top: 90%; left: 20%; width: 20px; height: 20px; animation-delay: 1.2s; }
.small-point-9 { top: 5%; left: 85%; width: 30px; height: 30px; animation-delay: 0.7s; }
.small-point-10 { top: 40%; left: 80%; width: 35px; height: 35px; animation-delay: 1.5s; }
.small-point-9 { top: 70%; left: 5%; width: 30px; height: 30px; animation-delay: 0.7s; }
.small-point-10 { top: 10%; left: 34%; width: 10px; height: 15px; animation-delay: 1.5s; }


.content {
    color: #D4CCB6; 
    padding: 40px;
    border-radius: 15px;
    margin: 40px auto;
    max-width: 80%; 
}

.offer-title {
    color: #D4CCB6; ;
    text-shadow: 0 0 20px #D4CCB6; 
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15%;

}

.offer-content {
    color: #D4CCB6; ;
    text-shadow: 0 0 20px #00ADB5; 
    margin-bottom: 20px;
    
}

.offer-text {
    text-align: justify; 
    font-size: 1.0rem;
    margin-bottom: 30%;
}

.offer-text h3 {
    margin-top: 20px;
    

}

.offer-text p {
    font-size: 1.0rem;
    line-height: 1.8; 
    color: #D4CCB6;
    text-shadow: 0 0 15px rgba(0, 173, 181, 0.8); 
}

.red-highlight {
    font-size: 1.0rem;
    color: #E5533D; 
    font-weight: bold;
    font-size: 0.7;
    text-shadow: 0 0 15px rgba(231, 76, 60, 0.8); 
}




.custom-list {
    list-style-type: none;
    padding-left: 20px;
}

.custom-list li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
    text-shadow: 0 0 10px rgba(0, 173, 181, 0.5);
}

.custom-list li::before {
    content: '•';
    color: #00ADB5;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2rem;
}

.link-highlight {
    color: #00ADB5;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 15px rgba(0, 173, 181, 0.9);
}

.link-highlight:hover {
    text-decoration: underline;
    color: #00FFF5;
}


@media (max-width: 768px) {
    .content {
        padding: 20px;  
        max-width: 95%; 
    }

    .offer-title {
        font-size: 0.8rem;  
    }

    .offer-text h3 {
        font-size: 0.5rem; 
    }

    .offer-text p {
        font-size: 0.5rem; 
        line-height: 1.5;  
    }

    .offer-content {
        font-size: 0.5rem;
    }

    .custom-list li{
        font-size: 0.5rem;
    }

    .link-highlight {
        font-size: 0.5rem;
    }
}
